:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.TopDiv
{
  
  width: 95%;
  display:flexbox;


  img
  {
    padding:15px;
    margin:10px;
    float: left;
    margin-top: 1em;
    margin-left: 10%;
    margin-bottom: 20px;
    /*
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: rgb(128, 0, 0);
    */
    max-width: 30vw;
    width: auto;
    height: auto;
  }
  div
  {
     background-color: rgb(48, 47, 47);
    border: 5px solid black;
    border-radius: 15px;
    margin: 10px;
    /*
    background-color: rgb(99, 96, 96);     CHANGE COLOR OF BOXES HER      
    border-radius: 10px;          
    padding: 5px;                   
    */
    
    margin-top: 1em;
    margin-right: 10%;
    float: right;
    
    /*
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: rgb(0, 255, 55);
    */
    
    h1
    {
      font-size: 3vw;
      text-align: center;
      width:35vw;
      overflow-wrap: break-word;
    }
  }
  .TextBox
  {
    border-color:black;
    /*
    margin-right: 10%;
    font-size: 2.6vw;
    */
    float: right;
    width: 35vw;
    text-align: center;
    overflow-wrap: break-word;
    p1
    {
      font-size: 1.5vw;
    }
  }

  .ContactInfo
  {
      display:flexbox;

  
      /*
      border-style:solid;
      border-radius: 1px;
      border-width: 1px;
      border-color: rgb(255, 255,255);
      */
      text-align: center;
      align-content: center;
      
      .ContactTextBox
      {
        font-size: 1vw;
        border: 0px;
        float:left;
        margin-left: 7vw;
        margin-top: 20px;
        text-align: left;
      }
      
  }


}

.SkillsDivBox
{
  /*
  border-color: white;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  */
  width: 95%;
  .SkillTextBox
  {
    width: fit-content;
    margin-left: 10%;
    width: 50%;
    
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    background-color: rgb(48, 47, 47);
    p1
    {
      margin-left: 10%;
    }
    ul
    {
      margin-left: 10%;

    }

  }
}


/*
    
{
  border: 5px outset rgba(255, 0, 174, 0.59);
  background-color: lightblue;
  text-align: center;
}
*/
